<div class="room_info">
  <div class="room-name">
    room
  </div>
  <div class="exit-button">
    <a href="/" class="exit">
      チャットを終了する
    </a>
  </div>
</div>

<div class="main_chat">
  <div class="chat">
    <div class="chat_user">
      user
    </div>
    <div class="date">
      2020/2/2(mon) 00:00:00
    </div>
  </div>
  <div class="text">
    おはよう
  </div>

  <div class="chat">
    <div class="chat_user">
      user
    </div>
    <div class="date">
      2020/2/2(mon) 00:00:00
    </div>
  </div>
  <div class="text">
    hello
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>