<div class="room_info">
  <div class="room-name">
    room
  </div>
  <div class="exit-button">
    <a href="/" class="exit">
      チャットを終了する
    </a>
  </div>
</div>

<div class="main_chat">
  <div class="chat">
    <div class="chat_user">
      user
    </div>
    <div class="date">
      2020/2/2(mon) 00:00:00
    </div>
  </div>
  <div class="text">
    おはよう
  </div>

  <div class="chat">
    <div class="chat_user">
      user
    </div>
    <div class="date">
      2020/2/2(mon) 00:00:00
    </div>
  </div>
  <div class="text">
    hello
  </div>
</div>

<div class="post_field">
    <div class="message-form">
      <input type="text" placeholder="type a message" class="message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="send-button">
</div>