<div class="user_info">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create_chat">
    <a href="/" class="create">チャットを作成する</a>
  </div>
</div>

<div class="room_summary">
  <div class="rooms">
    <a href="/" class="room">chatroom1</a>
  </div>
  <div class="rooms">
    <a href="/" class="room">chatroom2</a>
  </div>
</div>