.wrapper {
  display: flex;
}

/* サイドバーCSS */
.side_bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.user_info {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name {
  font-size: 16px;
}

.name {
  color: #FAFAFA;
  text-decoration: none;
}

.create_chat {
  font-size: 10px;
}

.create {
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.room_summary {
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
  height: calc(100vh - 100px);
}

.rooms {
  margin: 20px;
}

.room {
  color: white;
  text-decoration: none;
}
/* サイドバーCSSここまで */

/* チャット画面CSS */
.chat_field {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.room_info {
  height: 100px;
  padding: 36px 40px 0;
  display: flex;
  justify-content: space-between;
}

.room-name {
  color: #333;
  font-size: 24px;
  
}

.exit {
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
}

.main_chat {
  height: calc(100vh - 90px - 100px);
  background-color: #FAFAFA;
  padding: 0 40px;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

/* チャット画面ここまで */


/* 投稿欄ここから */
.post_field {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.message-form {
  width: 100%;
  display: flex;
  background-color: white;
}

.message {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: 1px solid white;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.send-button {
  background-color: #38aef0;
  color: white;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  border: solid #38aef0;
  margin-left: 15px;
}

/* 投稿欄ここまで */